
body{
  font-family: "Montserrat";
}
h1{
font-family: 'Goblin One', cursive;
  font-size: 5.5rem;
  line-height: 1.5;
}
h3{
  font-family: 'Goblin One', cursive;
}
p{
  color:#8f8f8f;
}
h2{
  font-family: "Montserrat-Bold";
  font-size: 3rem;
  line-height: 1.5;
}

#title{
  background-color: #7F8B52;
  color: #fff;
}

.container-fluid{
padding:3% 15%;
}
.navbar-brand{
  font-family: "Ubuntu";
  font-weight: bold;
  font-size: 2.5rem;
}
.navbar{
  padding: 0 0 4.5rem;
}
.nav-item{
  padding:0 18px;
}
.nav-link{
  font-family: "Montserrat-Light";
  font-size: 1.2rem;
}

.poster{
  height: auto;
  width: auto;
}
.title-image{
  width: 38%;

  position: absolute;
}
.features{
  padding:7% 15%;
  background-color: #fff;
  position: relative;
  z-index: 1;
}
.feature-box{
  text-align: center;
  padding: 5%;
}


.icon{
  color:#7F8B52;
  margin-bottom: 1rem;
}
.icon:hover{
  color:#EAE2B6;
}
#footer{
  text-align: center;
  padding: 7% 15%;
}
.social-icon{
  margin: 20px 10px;
}

@media (max-width:1000px) {
  #title{
    text-align: center;
  }
  .title-image{
    position: static;
    transform: rotate(0);

  }
  .image-cards{
    text-align: center;
    justify-content: center;
    padding: 20% 20%;
  }
  .card{
    padding: 5% 5%;

  }
  .image-cards{
    margin-left: auto;
    margin-right: auto
  }


}
